/* Colores */
$negro: black;
$negro2: #222222;
$gris: #CCC;
$rojo: red;
$claro: whitesmoke;
$bordo: #54160f;
$blanco: white;
$petreo: #212121;
$marron: #8a2801;
$marron2:#5a1212;
$beige: #bba2a8;
$oscuro: #520000;
$gris2: #959595;